@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  color: black;
  line-height: 1.7;
  font-size: 19px;
  background-color: #555555;
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190904/pngtree-astronaut-on-galaxy-seamless-pattern-background-for-kids-wall-decoration-image_313949.jpg");
}

/* /_ navbar ---------- _/ */

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
}

.link {
  color: #efefef;
  display: inline-block;
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

/_ nasa photo ---------- _/

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h2 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: darkcyan;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
  background-color: darkcyan;
}

.nasa-photo .explanation {
  color: black;
  background-color: darkcyan;
}

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: #f59494;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: #e77171;
}
